.mainContainer{
    border:solid black;
    height:95vh;
    text-align:center;
}
.topContainer{
    border:solid blue;
    height:60%;
    background-image: url('https://static.fandomspot.com/images/08/2071/00-featured-route-anime-pokemon-ostgame.jpg');
    background-size: cover;
    background-repeat:no-repeat;
    display:flex;
    justify-content:space-between;
}
.topContainer2{
    border:solid blue;
    height:60%;
    background-image: url('https://static.fandomspot.com/images/08/2071/00-featured-route-anime-pokemon-ostgame.jpg');
    background-size: cover;
    background-repeat:no-repeat;
    display:flex;
    justify-content:space-between;
}
.waterScene{
    border:solid blue;
    height:60%;
    background-image: url('https://pm1.aminoapps.com/7243/46d5cfd672a1e2fca16c78d728e2b10cb57f7ce0r1-669-521v2_hq.jpg');
    background-size: cover;
    background-repeat:no-repeat;
    display:flex;
    justify-content:space-between;
}
.caveScene{
    border:solid blue;
    height:60%;
    background-image: url('https://pm1.aminoapps.com/6617/79484ce2f6c171bc2e84f8c6cfa41a51a0cb0ead_hq.jpg');
    background-size: cover;
    background-repeat:no-repeat;
    display:flex;
    justify-content:space-between;
}
.plainScene{
    border:solid blue;
    height:60%;
    background-image: url('https://legends.pokemon.com/en-us/assets/screens/928_p12_01.jpg');
    background-size: cover;
    background-repeat:no-repeat;
    display:flex;
    justify-content:space-between;
}
.leftPkmVisible{
    border:solid orange;
    visibility:visible;
    display:flex;
    height:180px;
    align-self:flex-end;
}
.leftPkm{
    visibility:hidden;    
    display:flex;
    height:180px;
    align-self:flex-end;
}
.statsPikachu{
    border:dashed 2px rgb(32, 120, 197);
    background-color: rgba(227, 232, 211, 0.792);
    height:100px;
    width:150px;
    display:flex;
    flex-direction:column;
    align-content:stretch;
    align-self:flex-end;
}
.rightPkm{
    border:solid orange;
    height:180px;
    display:flex;
}
.statsMagikarp{
    border:dashed 2px rgb(32, 120, 197);
    background-color: rgba(227, 232, 211, 0.792);
    height:100px;
    width:180px;
    align-self:flex-end;
}
.centerContainer{
    border: solid blue;
    height:15%;
    display:flex;
}
.centerLeft{
    border:solid green;
    width:30%;
    background-color:rgba(247, 255, 196, 0.744);
}
.centerMid{
    border:solid green;
    width:30%;
    background-color:rgba(247, 255, 196, 0.744);}
.centerRight{
    border:solid green;
    width:40%;
    background-color:rgba(247, 255, 196, 0.744);}
.bottomContainer{
    border:solid blue;
    height:25%;
    display:flex;
    justify-content: space-between;
}
.bottomLeft{
    border:solid red;
    width:30%;
    /* reset button
    encounter button
    travel button
    shop button */
    display:flex;
    justify-content: space-between;
    flex-wrap:wrap;
}
.button,#button{
    width:100px;
    height:30px;
}
/* #pokeball{
    align-self:center;
} */
.bottomRight{
    border:solid red;
    width:30%;
    /* display:flex; */
    /* justify-content:space-evenly; */
    /* align-items:center; */
    /* justify-content: space-between; */
    /* flex-wrap:wrap; */
    /* battle moves button */
}
.wildPkmSkills{
    border:solid orange;
    height:40%;
    width:100%;
    display:flex;
    justify-content:space-evenly;
    flex-wrap:wrap;
    align-items: center;
}
.wildPkmSkill1,.wildPkmSkill2{
    border:solid yellow;
}
.playerPkmSkills{
    border:solid orange;
    height:60%;
    width:100%;
    display:flex;
    justify-content:space-evenly;
    flex-wrap:wrap;
    align-items: center;
}